/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/* line 3, C:\Users\Tom Lankhorst\Documents\NetBeansProjects\cartgame\public_html\css\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tom Lankhorst\/Documents\/NetBeansProjects\/cartgame\/public_html\/css\/less\/main\.less}line{font-family:\000033}}
html,
button,
input,
select,
textarea {
  color: #222;
}
/* line 11, C:\Users\Tom Lankhorst\Documents\NetBeansProjects\cartgame\public_html\css\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tom Lankhorst\/Documents\/NetBeansProjects\/cartgame\/public_html\/css\/less\/main\.less}line{font-family:\0000311}}
html {
  font-size: 1em;
  line-height: 1.4;
}
/* line 16, C:\Users\Tom Lankhorst\Documents\NetBeansProjects\cartgame\public_html\css\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tom Lankhorst\/Documents\/NetBeansProjects\/cartgame\/public_html\/css\/less\/main\.less}line{font-family:\0000316}}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
/* line 21, C:\Users\Tom Lankhorst\Documents\NetBeansProjects\cartgame\public_html\css\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tom Lankhorst\/Documents\/NetBeansProjects\/cartgame\/public_html\/css\/less\/main\.less}line{font-family:\0000321}}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/* line 26, C:\Users\Tom Lankhorst\Documents\NetBeansProjects\cartgame\public_html\css\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tom Lankhorst\/Documents\/NetBeansProjects\/cartgame\/public_html\/css\/less\/main\.less}line{font-family:\0000326}}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/* line 35, C:\Users\Tom Lankhorst\Documents\NetBeansProjects\cartgame\public_html\css\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tom Lankhorst\/Documents\/NetBeansProjects\/cartgame\/public_html\/css\/less\/main\.less}line{font-family:\0000335}}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
/* line 42, C:\Users\Tom Lankhorst\Documents\NetBeansProjects\cartgame\public_html\css\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tom Lankhorst\/Documents\/NetBeansProjects\/cartgame\/public_html\/css\/less\/main\.less}line{font-family:\0000342}}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/* line 48, C:\Users\Tom Lankhorst\Documents\NetBeansProjects\cartgame\public_html\css\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tom Lankhorst\/Documents\/NetBeansProjects\/cartgame\/public_html\/css\/less\/main\.less}line{font-family:\0000348}}
textarea {
  resize: vertical;
}
/* line 52, C:\Users\Tom Lankhorst\Documents\NetBeansProjects\cartgame\public_html\css\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tom Lankhorst\/Documents\/NetBeansProjects\/cartgame\/public_html\/css\/less\/main\.less}line{font-family:\0000352}}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Game Styles
   ========================================================================== */
/* line 65, C:\Users\Tom Lankhorst\Documents\NetBeansProjects\cartgame\public_html\css\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tom Lankhorst\/Documents\/NetBeansProjects\/cartgame\/public_html\/css\/less\/main\.less}line{font-family:\0000365}}
body {
  background-color: #FFF;
}
/* line 69, C:\Users\Tom Lankhorst\Documents\NetBeansProjects\cartgame\public_html\css\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tom Lankhorst\/Documents\/NetBeansProjects\/cartgame\/public_html\/css\/less\/main\.less}line{font-family:\0000369}}
.kineticjs-content {
  margin: 20px;
  display: block;
}
/* line 74, C:\Users\Tom Lankhorst\Documents\NetBeansProjects\cartgame\public_html\css\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tom Lankhorst\/Documents\/NetBeansProjects\/cartgame\/public_html\/css\/less\/main\.less}line{font-family:\0000374}}
.plottercanvas canvas {
  border: 1px solid #CCC;
  margin-bottom: 5px;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 99, C:\Users\Tom Lankhorst\Documents\NetBeansProjects\cartgame\public_html\css\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tom Lankhorst\/Documents\/NetBeansProjects\/cartgame\/public_html\/css\/less\/main\.less}line{font-family:\0000399}}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
/* line 106, C:\Users\Tom Lankhorst\Documents\NetBeansProjects\cartgame\public_html\css\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tom Lankhorst\/Documents\/NetBeansProjects\/cartgame\/public_html\/css\/less\/main\.less}line{font-family:\00003106}}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
/* line 113, C:\Users\Tom Lankhorst\Documents\NetBeansProjects\cartgame\public_html\css\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tom Lankhorst\/Documents\/NetBeansProjects\/cartgame\/public_html\/css\/less\/main\.less}line{font-family:\00003113}}
.hidden {
  display: none !important;
  visibility: hidden;
}
/* line 118, C:\Users\Tom Lankhorst\Documents\NetBeansProjects\cartgame\public_html\css\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tom Lankhorst\/Documents\/NetBeansProjects\/cartgame\/public_html\/css\/less\/main\.less}line{font-family:\00003118}}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 129, C:\Users\Tom Lankhorst\Documents\NetBeansProjects\cartgame\public_html\css\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tom Lankhorst\/Documents\/NetBeansProjects\/cartgame\/public_html\/css\/less\/main\.less}line{font-family:\00003129}}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* line 139, C:\Users\Tom Lankhorst\Documents\NetBeansProjects\cartgame\public_html\css\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tom Lankhorst\/Documents\/NetBeansProjects\/cartgame\/public_html\/css\/less\/main\.less}line{font-family:\00003139}}
.invisible {
  visibility: hidden;
}
/* line 143, C:\Users\Tom Lankhorst\Documents\NetBeansProjects\cartgame\public_html\css\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tom Lankhorst\/Documents\/NetBeansProjects\/cartgame\/public_html\/css\/less\/main\.less}line{font-family:\00003143}}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
/* line 149, C:\Users\Tom Lankhorst\Documents\NetBeansProjects\cartgame\public_html\css\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tom Lankhorst\/Documents\/NetBeansProjects\/cartgame\/public_html\/css\/less\/main\.less}line{font-family:\00003149}}
.clearfix:after {
  clear: both;
}
/* line 153, C:\Users\Tom Lankhorst\Documents\NetBeansProjects\cartgame\public_html\css\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tom Lankhorst\/Documents\/NetBeansProjects\/cartgame\/public_html\/css\/less\/main\.less}line{font-family:\00003153}}
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 162, C:\Users\Tom Lankhorst\Documents\NetBeansProjects\cartgame\public_html\css\less\main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tom Lankhorst\/Documents\/NetBeansProjects\/cartgame\/public_html\/css\/less\/main\.less}line{font-family:\00003162}}
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  /* line 169, C:\Users\Tom Lankhorst\Documents\NetBeansProjects\cartgame\public_html\css\less\main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tom Lankhorst\/Documents\/NetBeansProjects\/cartgame\/public_html\/css\/less\/main\.less}line{font-family:\00003169}}
  a,
  a:visited {
    text-decoration: underline;
  }
  /* line 174, C:\Users\Tom Lankhorst\Documents\NetBeansProjects\cartgame\public_html\css\less\main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tom Lankhorst\/Documents\/NetBeansProjects\/cartgame\/public_html\/css\/less\/main\.less}line{font-family:\00003174}}
  a[href]:after {
    content: " (" attr(href) ")";
  }
  /* line 178, C:\Users\Tom Lankhorst\Documents\NetBeansProjects\cartgame\public_html\css\less\main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tom Lankhorst\/Documents\/NetBeansProjects\/cartgame\/public_html\/css\/less\/main\.less}line{font-family:\00003178}}
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /* line 182, C:\Users\Tom Lankhorst\Documents\NetBeansProjects\cartgame\public_html\css\less\main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tom Lankhorst\/Documents\/NetBeansProjects\/cartgame\/public_html\/css\/less\/main\.less}line{font-family:\00003182}}
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* line 188, C:\Users\Tom Lankhorst\Documents\NetBeansProjects\cartgame\public_html\css\less\main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tom Lankhorst\/Documents\/NetBeansProjects\/cartgame\/public_html\/css\/less\/main\.less}line{font-family:\00003188}}
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /* line 194, C:\Users\Tom Lankhorst\Documents\NetBeansProjects\cartgame\public_html\css\less\main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tom Lankhorst\/Documents\/NetBeansProjects\/cartgame\/public_html\/css\/less\/main\.less}line{font-family:\00003194}}
  thead {
    display: table-header-group;
  }
  /* line 198, C:\Users\Tom Lankhorst\Documents\NetBeansProjects\cartgame\public_html\css\less\main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tom Lankhorst\/Documents\/NetBeansProjects\/cartgame\/public_html\/css\/less\/main\.less}line{font-family:\00003198}}
  tr,
  img {
    page-break-inside: avoid;
  }
  /* line 203, C:\Users\Tom Lankhorst\Documents\NetBeansProjects\cartgame\public_html\css\less\main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tom Lankhorst\/Documents\/NetBeansProjects\/cartgame\/public_html\/css\/less\/main\.less}line{font-family:\00003203}}
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  /* line 211, C:\Users\Tom Lankhorst\Documents\NetBeansProjects\cartgame\public_html\css\less\main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tom Lankhorst\/Documents\/NetBeansProjects\/cartgame\/public_html\/css\/less\/main\.less}line{font-family:\00003211}}
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  /* line 218, C:\Users\Tom Lankhorst\Documents\NetBeansProjects\cartgame\public_html\css\less\main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tom Lankhorst\/Documents\/NetBeansProjects\/cartgame\/public_html\/css\/less\/main\.less}line{font-family:\00003218}}
  h2,
  h3 {
    page-break-after: avoid;
  }
}
